<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    <body>
    <!-- <form action="/uploadblog" method="POST">
    
    
  <label for="newstext">newstext</label>
  <textarea type="text" id="newstext" name="newstext"/ value="{{newstext}}">
  
    <label for="sourcelink">Source Link</label>
  <input type="text" id="sourcelink" name="source-link"/ value="{{slink}">
  
  <label for="sourcename">Source name</label>
  <input type="text" id="sourcename" name="source-name"/ value="{{sname}}">
   -->

  <button type="submit">Submit</button>
</form>
    </body>
</html>